---
import Layout from "@/layouts/Layout.astro";
import StackSection from "@/components/sections/StackSection.astro";
import HeroSection from "@/components/sections/HeroSection.astro";
import FilosofySection from "@/components/sections/FilosofySection.astro";
import ProjectsSection from "@/components/sections/ProjectsSection.astro";
---

<Layout onHome>
  <main class="max-w-3/4 mx-auto">
    <HeroSection />

    <ProjectsSection />
    <FilosofySection />
    <StackSection />
  </main>
</Layout>
